<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
  </p>
<% end %>

<% @snippets.each do |s| %>
  <%= render "shared/snippet", snippet: s %>
<% end %>

<script type="text/javascript">
  $("#q").autocomplete({
    source: "/search",
    select: function(event, ui) {
      location.href = ui.item.url;
    }
  })
</script>