/*
 *= require jquery-ui
 *= require normalize-rails
 *= require pygments
 *= require_self
 */

// @import "bootstrap/tables";
// @import "base/mixins";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/variables";
@import "highlight/*";
@import "generic/buttons";
@import "generic/files";
@import "generic/highlight";
@import "font-awesome";
@import "snippet";

label {
  margin-left: 9px;
}
.ace-config {
  position: absolute;
  top: 8px;
  right: 14px;
  z-index: 9999;
}

#q {
  width: 320px;
  background-image: image-url("icon-search.png");
  background-repeat: no-repeat;
  background-position: 10px;
  // height: inherit;
  // padding: 4px 6px;
  padding-left: 25px;
  // font-size: 13px;
  // background-color: #f5f5f5;
  // border-color: #f5f5f5;
}

#editor {
  height: 1000px;
}

.fa.fa-code {
  margin-right: 7px;
}